.home-title {
    text-align: center;
}

.home-title h1 {
    font-size: 70px;
}

.home-title p {
    font-size: 20px;
}

.home-component {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 100px;
}


.hot-links {
    text-align: center;
    margin: 0 auto;
}

.hot-links-item {
    font-size: 20px;
    margin-left: 20px;
}

.hot-links-item:first-child {
    margin-left: 0;
}

.card {
    margin-bottom: 30px;
}

.sidebar-list {
    list-style: none;

}

.product_container {
    width: 100%;
    max-width: 1200px;
    min-height: 450px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    row-gap: 20px;
    padding: 16px;
    text-decoration: none;
}

.sidebar {
    margin-top: 15px;
}

.sidebar-list-option a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    line-height: 30px;
}
.sidebar-list-option {
    width: 100px;
    background: darkgrey;
}

.sidebar-list-option:first-child {
    border-radius: 10px 10px 0 0;
}

.sidebar-list-option:last-child {
    border-radius: 0 0 10px 10px;
}
.sidebar-list-option:hover {
    background: grey;
}
