.login-form {
    padding-top: 20%;
    justify-content: center;
}

.submit-button {
    margin-top: 10px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.input-container {
    margin-bottom: 10px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    text-align: center;
}
.login-btn {
    width: 100%;
}

.login-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.login-error {
    color: #fd2424;
}

.login-verdict {
    color: forestgreen;
    font-size: 24px;
}